# üß± Constru√ß√£o de Tabelas ‚Äî Exemplos em Python (Jupyter)
Este notebook demonstra, com exemplos pr√°ticos, como construir e compreender tabelas.

## Estrutura de uma tabela:
- **T√≠tulo:** explica o conte√∫do da tabela
- **Corpo:** conjunto de linhas e colunas com as informa√ß√µes
- **Cabe√ßalho:** parte superior da tabela (nomes das colunas)
- **Coluna indicadora:** identifica o conte√∫do das linhas (√≠ndice)
- **Casa ou c√©lula:** espa√ßo onde h√° um valor (interse√ß√£o de linha e coluna)
- **Linha:** c√©lulas organizadas horizontalmente
- **Coluna:** c√©lulas organizadas verticalmente
- **Rodap√©:** elemento complementar (fonte, observa√ß√£o, nota etc.)

## üìã Exemplo 1 ‚Äî Criando uma tabela simples com pandas

In [2]:

import pandas as pd

# Dados
dados = {
    "Nome": ["Ana", "Bruno", "Carla", "Diego"],
    "Idade": [23, 29, 31, 26],
    "Cidade": ["Curitiba", "S√£o Paulo", "Florian√≥polis", "Belo Horizonte"]
}

# Cria√ß√£o da tabela
tabela = pd.DataFrame(dados)

# Exibi√ß√£o
print("T√≠tulo: Tabela de Pessoas\n")
display(tabela)

T√≠tulo: Tabela de Pessoas

    Nome  Idade          Cidade
0    Ana     23        Curitiba
1  Bruno     29       S√£o Paulo
2  Carla     31   Florian√≥polis
3  Diego     26  Belo Horizonte

Neste exemplo:
- **T√≠tulo:** Tabela de Pessoas
- **Cabe√ßalho:** Nome, Idade, Cidade
- **Corpo:** dados de cada pessoa
- **C√©lulas:** valores individuais (ex: ‚ÄúAna‚Äù, ‚Äú23‚Äù)
- **Coluna indicadora:** √≠ndice (0, 1, 2, 3)

## üìé Exemplo 2 ‚Äî Adicionando um rodap√© (fonte de dados)

In [3]:

print("T√≠tulo: Tabela de Pessoas\n")
display(tabela)
print("\nRodap√©: Fonte - Dados fict√≠cios criados para fins did√°ticos.")

T√≠tulo: Tabela de Pessoas

    Nome  Idade          Cidade
0    Ana     23        Curitiba
1  Bruno     29       S√£o Paulo
2  Carla     31   Florian√≥polis
3  Diego     26  Belo Horizonte

Rodap√©: Fonte - Dados fict√≠cios criados para fins did√°ticos.

## üß© Exemplo 3 ‚Äî Criando uma tabela manualmente em HTML

In [4]:

from IPython.display import display, HTML

html = """
<h3>Tabela de Vendas Mensais</h3>
<table border="1" style="border-collapse: collapse; width: 60%; text-align: center;">
  <tr style="background-color: #ddd;">
    <th>M√™s</th>
    <th>Produto</th>
    <th>Quantidade</th>
    <th>Valor Total (R$)</th>
  </tr>
  <tr>
    <td>Janeiro</td><td>Teclado</td><td>25</td><td>2.500</td>
  </tr>
  <tr>
    <td>Fevereiro</td><td>Mouse</td><td>40</td><td>1.600</td>
  </tr>
  <tr>
    <td>Mar√ßo</td><td>Monitor</td><td>10</td><td>5.000</td>
  </tr>
</table>
<p><em>Rodap√©: Fonte ‚Äî Relat√≥rio de vendas internas.</em></p>
"""

display(HTML(html))

‚ú® **Conclus√£o:**
- Tabelas resumem informa√ß√µes de forma organizada.
- Cada parte (t√≠tulo, cabe√ßalho, corpo, rodap√©) tem uma fun√ß√£o espec√≠fica.
- √â poss√≠vel criar tabelas com `pandas` ou at√© mesmo com HTML no Jupyter.